@tailwind base;

@tailwind components;

@font-face {
    font-family: CursiveFont;
    src: url(/Fonts/Sweet\ Home\ Oklahoma.ttf);
}

@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #f5f5f9 0%, #e6e6f4 100%) no-repeat;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (min-width: 640px) {
    * {
        font-size: 20px;
    }
}
.rounded-10 {
    border-radius: 0px 0px 10px 10px;
}

.purple-Shadow {
    box-shadow: 5px 5px 20px rgba(148, 72, 188, 0.4);
}

.smilingPic {
    height: max(280px, 45vh);
}

@media (min-width: 768px) and (max-width: 1199px) {
    .smilingPic {
        height: max(340px, 45vh);
    }
}

@media (min-width: 1200px) {
    .smilingPicContainer {
        height: 536px;
    }
}

.maxHeightForProjectImageMobile {
    height: max(280px, 45vh);
}
